<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{raider.name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{raider.role | role}}</h6>    
  </div>
  <div class="card-footer text-muted text-center">
      <a href="#" class="card-link"><img title="Lien WoW Armurerie" src="assets\img\wow-icon-32.png"></a>
      <a href="#" class="card-link"><img title="Lien Warcraft Logs" src="assets\img\warcraftlogs-icon-32.png"></a>
      <a href="#" class="card-link"><img title="Lien Raider.io" src="assets\img\raiderio-icon-32.png"></a>
    </div>
</div>